body {
    font-family: system-ui;
    background-image: url("https://preview.redd.it/reminder-that-dalinar-is-canonically-thicc-v0-1ezw0m8ij6sd1.png?width=2374&format=png&auto=webp&s=edd5f63f2813df41b1e36aa68ff3aa2740d6a2e4");
    background-position: top 80%;
    color: black;
    text-align: center;
}
